.news-app {
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
    background-color:#eaeaea;
    font-size: 15px;
    line-height: 21px;
    font-family: Roboto,sans-serif;
    -webkit-font-smoothing: antialiased;
}

.news-item {
    padding: 20px;
    border: 1px solid;
    width: 60%;
    filter: drop-shadow(0 0 2em  #e6f7ff);
    background-color:white;
}
.news-item:hover {
    padding: 20px;
    border: 1px solid;
    width: 68%;
    filter: drop-shadow(0 0 2em #baf5ba);
    border: 1px solid transparent;
}

.news-img {
    width: 100%;
}
