.news-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
  background-color: #eaeaea;
  font-size: 15px;
  line-height: 21px;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.news-item {
  padding: 20px;
  border: 1px solid;
  filter: drop-shadow(0 0 2em rgb(181, 181, 181));
  background-color: white;
  transition: filter 0.2s, border 0.2s;
}

.news-item:hover {
  filter: drop-shadow(0 0 2em grey);
  border: 1px solid transparent;
}

.news-img {
  width: 100%;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
  border-radius: 4px;
  display: none;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.search {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.search-container {
  text-align: right; /* Align the search container to the right */
  margin-right: 100px; /* Add some right margin to separate from the right edge */
}
.App {
  display: flex;
  flex-direction: column;
}

.nav-bar {
  background-color: #f2f2f2;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Align children to the left and right */
}

.nav-links {
  display: flex;
  flex-direction: row; /* Change the direction to column */
}

.nav-link {
  margin-right: 10px;
  padding: 8px 16px;
  border: none;
  background-color: #ddd;
  cursor: pointer;
  border-radius: 10px;
}
